html {
    font-family: Pigment DEMO;
}
body {
    background-color: #708090;
}

body h1 {
    text-align: center;
    font-size: 3em;
}

/*The about me */

.blank-toggle {
    width: 25em;
}

.info {
    margin-top: 1em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    background-image: url('chalkboard-2.jpg');
    border: 1em solid #8B4513;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 30em;
}
.toggle.interests {
    position: absolute;
    left: -10000px;
}
.toggle.specialties {
    position: absolute;
    left: -10000px;
}
.toggle.about-me {
    position: absolute;
    left: -10000px;
}

.toggle.contact {
    position: absolute;
    left: -10000px;
}
.toggle.about-me img#runningpic {
    position: relative;
    right: 3em;
}

.toggle.about-me img#pizzapic {
    position: relative;
    left: 3em;
}

.toggle.interests.open {
    position: static;
    color: white;
    font-size: 2.5em;
}
.toggle.specialties ul li {
    margin: .5em;
}

.toggle.specialties.open {
    position: static;
    color: white;
    font-size: 2.5em;
}
.toggle.about-me.open {
    color: white;
    position: static;
    font-size: 2.5em;
}
.toggle.contact.open {
    color: white;
    position: static;
    font-size: 2.5em;
}
.button.open {
    font-style: italic;
}

nav {
    width: 75%;
    padding: 0;
    border-radius: 5em;
    margin: auto;
    height: 30em;
}
nav ul {
    /*sets container for li to flex which makes them flex items*/
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-family: chalkboard;
    text-decoration: none;
    margin: 0 auto;
    /*removes the bullets*/
    list-style-type: none;
    display: inline-block;
    height: 1em;
    width: 5em;
    margin: 1em;
    text-align: center;
    font-size: 2em;
}

nav ul li.clear {
    position: absolute;
    font-size: .75em;
    right: 0;
    top: 0;
}

nav ul a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: pink;
    text-decoration: underline;
}

nav ul a:active {
    color: pink;
}

.toggle.about-me a, .toggle.interests a, .toggle.specialties a {
    text-decoration: none;
    color: #ff69b4;
}
.toggle.about-me a:hover, .toggle.interests a:hover, .toggle.specialties a:hover {
    text-decoration: underline;
}
    /* tab box tracker on the right of the main page that is toggled on-off screen*/
.tab-box {
    background-color: #678FFE;
    border-radius: 25px;
    position: absolute;
    left: -10000px;
    text-align: center;
}

#break {
    border: 2px solid #091534;
}

.progress {
    text-align: center;
}

